In [526]:
import pandas as pd
import os
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
df_fire = pd.read_csv('C:/Users/HJ/Desktop/team/fire/2017_fire.csv', encoding='cp949')

In [527]:
df_fire.head()

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.02,15,12,11:56:00,2017,쓰레기소각,산1-1,어전,고흥,금산,전남,14,목요일,12,22:01:00,2017
1,0.50,15,12,22:30:00,2017,쓰레기소각,산15,성내,창녕,영산,경남,15,금요일,12,15:35:00,2017
2,0.04,16,12,12:25:00,2017,기타,산9,능치,김천,어모,경북,16,토요일,12,10:45:00,2017
3,1.00,16,12,23:00:00,2017,성묘객실화,산34,논실,영천,고경,경북,16,토요일,12,17:25:00,2017
4,0.01,17,12,14:45:00,2017,쓰레기소각,산75,석,창녕,이방,경남,17,일요일,12,14:11:00,2017

In [528]:
df_fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692 entries, 0 to 691
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   damagearea      692 non-null    float64
 1   endday          692 non-null    int64
 2   endmonth        692 non-null    int64
 3   endtime         692 non-null    object
 4   endyear         692 non-null    int64
 5   firecause       692 non-null    object
 6   locbunji        692 non-null    object
 7   locdong         567 non-null    object
 8   locgungu        692 non-null    object
 9   locmenu         692 non-null    object
 10  locsi           692 non-null    object
 11  startday        692 non-null    int64
 12  startdayofweek  692 non-null    object
 13  startmonth      692 non-null    int64
 14  starttime       692 non-null    object
 15  startyear       692 non-null    int64
dtypes: float64(1), int64(6), object(9)
memory usage: 86.6+ KB

In [529]:
df_fire.isnull().sum()

damagearea          0
endday              0
endmonth            0
endtime             0
endyear             0
firecause           0
locbunji            0
locdong           125
locgungu            0
locmenu             0
locsi               0
startday            0
startdayofweek      0
startmonth          0
starttime           0
startyear           0
dtype: int64

In [530]:
df_fire.head()

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.02,15,12,11:56:00,2017,쓰레기소각,산1-1,어전,고흥,금산,전남,14,목요일,12,22:01:00,2017
1,0.50,15,12,22:30:00,2017,쓰레기소각,산15,성내,창녕,영산,경남,15,금요일,12,15:35:00,2017
2,0.04,16,12,12:25:00,2017,기타,산9,능치,김천,어모,경북,16,토요일,12,10:45:00,2017
3,1.00,16,12,23:00:00,2017,성묘객실화,산34,논실,영천,고경,경북,16,토요일,12,17:25:00,2017
4,0.01,17,12,14:45:00,2017,쓰레기소각,산75,석,창녕,이방,경남,17,일요일,12,14:11:00,2017

In [531]:
df_fire['day'] = ''
df_fire['start'] = ''
df_fire['end'] = ''

In [532]:
df_fire['startmonth'].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07','08','09'], inplace=True)
df_fire['startday'].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07','08','09'], inplace=True)
df_fire['endmonth'].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07','08','09'], inplace=True)
df_fire['endday'].replace([1,2,3,4,5,6,7,8,9], ['01','02','03','04','05','06','07','08','09'], inplace=True)

In [533]:
for i in range(len(df_fire)):
    df_fire['day'][i] = str(df_fire['startyear'][i])+'-'+str(df_fire['startmonth'][i])+'-'+str(df_fire['startday'][i])+' '+str(df_fire['starttime'][i])
    df_fire['start'][i] = str(df_fire['startyear'][i])+'-'+str(df_fire['startmonth'][i])+'-'+str(df_fire['startday'][i])+' '+str(df_fire['starttime'][i])
    df_fire['end'][i] = str(df_fire['endyear'][i])+'-'+str(df_fire['endmonth'][i])+'-'+str(df_fire['endday'][i])+' '+str(df_fire['endtime'][i])

C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/3071482540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['day'][i] = str(df_fire['startyear'][i])+'-'+str(df_fire['startmonth'][i])+'-'+str(df_fire['startday'][i])+' '+str(df_fire['starttime'][i])
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/3071482540.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['start'][i] = str(df_fire['startyear'][i])+'-'+str(df_fire['startmonth'][i])+'-'+str(df_fire['startday'][i])+' '+str(df_fire['starttime'][i])
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/3071482540.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['end'][i] = str(df_fire['endyear'][i])+'-'+str(df_fire['endmonth'][i])+'-'+str(df_fire['endday'][i])+' '+str(df_fire['endtime'][i])

In [534]:
df_fire.columns

Index(['damagearea', 'endday', 'endmonth', 'endtime', 'endyear', 'firecause',
       'locbunji', 'locdong', 'locgungu', 'locmenu', 'locsi', 'startday',
       'startdayofweek', 'startmonth', 'starttime', 'startyear', 'day',
       'start', 'end'],
      dtype='object')

In [535]:
df_fire.head(3)

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear,day,start,end
0,0.02,15,12,11:56:00,2017,쓰레기소각,산1-1,어전,고흥,금산,전남,14,목요일,12,22:01:00,2017,2017-12-14 22:01:00,2017-12-14 22:01:00,2017-12-15 11:56:00
1,0.50,15,12,22:30:00,2017,쓰레기소각,산15,성내,창녕,영산,경남,15,금요일,12,15:35:00,2017,2017-12-15 15:35:00,2017-12-15 15:35:00,2017-12-15 22:30:00
2,0.04,16,12,12:25:00,2017,기타,산9,능치,김천,어모,경북,16,토요일,12,10:45:00,2017,2017-12-16 10:45:00,2017-12-16 10:45:00,2017-12-16 12:25:00

In [536]:
df_fire = df_fire.dropna(axis=0)
#df_fire['locdong'] = df_fire['locdong'].dropna(axis=1)

In [537]:
cols = ['damagearea', 'day', 'start', 'end', 'firecause','locsi', 'locgungu', 'locmenu', 'locdong', 'locbunji']

In [538]:
df_fire = df_fire[cols]

In [539]:
df_fire = df_fire.sort_values(["start"], ascending=[True])

In [540]:
df_fire.reset_index(inplace=True)

In [541]:
df_fire.drop('index', axis=1, inplace=True)

In [542]:
df_fire['start'] = pd.to_datetime(df_fire['start'])
df_fire['end'] = pd.to_datetime(df_fire['end'])

In [543]:
df_fire.dtypes

damagearea           float64
day                   object
start         datetime64[ns]
end           datetime64[ns]
firecause             object
locsi                 object
locgungu              object
locmenu               object
locdong               object
locbunji              object
dtype: object

In [544]:
df_fire['time']=''

In [545]:
df_fire['time']=df_fire['end'].subtract(df_fire['start'])

In [546]:
df_fire

,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time
0,0.20,2017-01-10 15:40:00,2017-01-10 15:40:00,2017-01-10 18:30:00,기타(직접입력),경기,용인,이동,묵,산65,0 days 02:50:00
1,0.05,2017-01-11 14:22:00,2017-01-11 14:22:00,2017-01-11 16:00:00,기타(직접입력),강원,춘천,서,현암,산8,0 days 01:38:00
2,0.50,2017-01-11 20:25:00,2017-01-11 20:25:00,2017-01-11 22:00:00,쓰레기소각,경북,영양,청기,기포,산103,0 days 01:35:00
3,0.03,2017-01-12 16:19:00,2017-01-12 16:19:00,2017-01-12 17:30:00,등산객실화,강원,강릉,사천,판교,산30,0 days 01:11:00
4,0.07,2017-01-14 21:44:00,2017-01-14 21:44:00,2017-01-14 22:55:00,기타(직접입력),강원,양양,현북,하광정,산14,0 days 01:11:00
...,...,...,...,...,...,...,...,...,...,...,...
562,0.03,2017-12-27 15:24:00,2017-12-27 15:24:00,2017-12-27 17:00:00,담뱃불실화,충남,천안,북,대평,산171,0 days 01:36:00
563,0.04,2017-12-28 5:08:00,2017-12-28 05:08:00,2017-12-28 09:00:00,입산자실화,경남,창원,구산,난포,산15,0 days 03:52:00
564,0.90,2017-12-28 6:40:00,2017-12-28 06:40:00,2017-12-28 09:50:00,기타,경북,경산,용성,외촌,산61,0 days 03:10:00
565,0.02,2017-12-31 14:22:00,2017-12-31 14:22:00,2017-12-31 15:30:00,성묘객실화,경남,합천,쌍백,삼,산25,0 days 01:08:00
566,0.20,2017-12-31 16:30:00,2017-12-31 16:30:00,2017-12-31 18:20:00,입산자실화,인천,옹진,덕적,굴업,산2,0 days 01:50:00

In [547]:
df_fire.to_csv('2017fire.csv')

In [643]:
df_climate = pd.read_csv('2021_climate.csv', encoding='cp949')
df_climate

          시도  지점명                일시  기온(°C)  강수량(mm)  풍속(m/s)  풍향(16방위) 습도(%)
0        경기도  동두천   2021-01-01 1:00   -11.2      NaN      0.5      20.0    71
1        경기도  동두천   2021-01-01 2:00   -11.6      NaN      0.3       0.0    76
2        경기도  동두천   2021-01-01 3:00   -12.0      NaN      0.5     110.0    78
3        경기도  동두천   2021-01-01 4:00   -12.5      NaN      0.7      20.0    81
4        경기도  동두천   2021-01-01 5:00   -12.5      NaN      0.9      50.0    83
...      ...  ...               ...     ...      ...      ...       ...   ...
140123  경상북도   영천  2021-12-31 19:00    -2.1      NaN      3.6     270.0    55
140124  경상북도   영천  2021-12-31 20:00    -2.9      NaN      2.9     290.0    56
140125  경상북도   영천  2021-12-31 21:00    -3.5      NaN      3.6     270.0    61
140126  경상북도   영천  2021-12-31 22:00    -4.6      NaN      2.7     290.0    67
140127  경상북도   영천  2021-12-31 23:00    -4.9      NaN      3.6     290.0    69

[140128 rows x 8 columns]

df_climate = df_climate[:140129]

for i in range(len(df_fire)):
    for j in range(len(df_climate)):
        if df_fire['day'][i][0:10] == df_climate['day'][j][0:10]:
            c = pd.concat([df_fire,df_climate], axis=1)

In [644]:
df_climate.columns

Index(['시도', '지점명', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)'], dtype='object')

In [645]:
df_climate.rename(columns={'시도':'locsi', '지점명':'locgungu', '일시':'day', '기온(°C)':'temp', '강수량(mm)':'rain', '풍속(m/s)':'wind', '풍향(16방위)':'wind_direction', '습도(%)':'humidity'}, inplace=True)

In [646]:
df_climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140128 entries, 0 to 140127
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   locsi           140128 non-null  object
 1   locgungu        140128 non-null  object
 2   day             140128 non-null  object
 3   temp            140127 non-null  float64
 4   rain            14590 non-null   float64
 5   wind            140065 non-null  float64
 6   wind_direction  140065 non-null  float64
 7   humidity        140126 non-null  object
dtypes: float64(4), object(4)
memory usage: 8.6+ MB

In [647]:
df_climate.isnull().sum()

locsi                  0
locgungu               0
day                    0
temp                   1
rain              125538
wind                  63
wind_direction        63
humidity               2
dtype: int64

In [648]:
df_climate = df_climate.fillna(0)

df_climate.loc[(df_climate.day == ' 1:'), 'day'] = '01'

df_climate1["day"] = df_climate1["day"].apply(lambda x: '01' if x[=='1' else x)

for i in range(len(df_climate1)):
    df_climate1[df_climate1['day'].str.contains(' 1:')]['day'].replace(df_climate['day'][i][11:12], ' 01:')

df_climate1['일시2'] = ''

df_climate['day'] = pd.to_datetime(df_climate1['일시'], format='%Y-%m-%d %H:%M')

In [550]:
df_climate1

,locsi,locgungu,day,temp,rain,wind,wind_direction,humidity
0,경기도,동두천,2017-01-09 09:00,2.2,0.0,3.1,290.0,68.0
1,경기도,동두천,2017-01-09 10:00,2.6,0.0,2.8,270.0,65.0
2,경기도,동두천,2017-01-09 11:00,5.0,0.0,2.1,290.0,56.0
3,경기도,동두천,2017-01-09 12:00,4.0,0.0,3.7,320.0,54.0
4,경기도,동두천,2017-01-09 13:00,3.8,0.0,4.2,250.0,52.0
...,...,...,...,...,...,...,...,...
195,경기도,동두천,2017-01-17 12:00,1.8,0.0,2.0,230.0,26.0
196,경기도,동두천,2017-01-17 13:00,2.8,0.0,1.5,230.0,25.0
197,경기도,동두천,2017-01-17 14:00,4.3,0.0,2.0,270.0,21.0
198,경기도,동두천,2017-01-17 15:00,4.6,0.0,2.2,230.0,20.0
199,경기도,동두천,2017-01-17 16:00,3.9,0.0,1.7,270.0,21.0

In [28]:
df_climate2 = df_climate1.copy()

In [30]:
df_climate2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140122 entries, 0 to 140121
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   locsi           140122 non-null  object
 1   locgungu        140122 non-null  object
 2   day             140122 non-null  object
 3   temp            140121 non-null  float64
 4   rain            13688 non-null   float64
 5   wind            140061 non-null  float64
 6   wind_direction  140061 non-null  float64
 7   humidity        140119 non-null  float64
 8   day2            140122 non-null  object
dtypes: float64(5), object(4)
memory usage: 9.6+ MB

In [611]:
df_climate['day'][0][:13]

'2019-01-01 01'

In [649]:
df_climate

,locsi,locgungu,day,temp,rain,wind,wind_direction,humidity
0,경기도,동두천,2021-01-01 1:00,-11.2,0.0,0.5,20.0,71
1,경기도,동두천,2021-01-01 2:00,-11.6,0.0,0.3,0.0,76
2,경기도,동두천,2021-01-01 3:00,-12.0,0.0,0.5,110.0,78
3,경기도,동두천,2021-01-01 4:00,-12.5,0.0,0.7,20.0,81
4,경기도,동두천,2021-01-01 5:00,-12.5,0.0,0.9,50.0,83
...,...,...,...,...,...,...,...,...
140123,경상북도,영천,2021-12-31 19:00,-2.1,0.0,3.6,270.0,55
140124,경상북도,영천,2021-12-31 20:00,-2.9,0.0,2.9,290.0,56
140125,경상북도,영천,2021-12-31 21:00,-3.5,0.0,3.6,270.0,61
140126,경상북도,영천,2021-12-31 22:00,-4.6,0.0,2.7,290.0,67
140127,경상북도,영천,2021-12-31 23:00,-4.9,0.0,3.6,290.0,69

In [586]:
df_fire.head(3)

,Unnamed: 0,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time,temp,rain,wind,wind_direction,humidity
0,0,0.20,2017-01-10 15:40:00,2017-01-10 15:40:00,2017-01-10 18:30:00,기타(직접입력),경기,용인,이동,묵,산65,0 days 02:50:00,5.5,NaN,5.0,290.0,28.0
1,1,0.05,2017-01-11 14:22:00,2017-01-11 14:22:00,2017-01-11 16:00:00,기타(직접입력),강원,춘천,서,현암,산8,0 days 01:38:00,2.8,NaN,4.9,290.0,22.0
2,2,0.50,2017-01-11 20:25:00,2017-01-11 20:25:00,2017-01-11 22:00:00,쓰레기소각,경북,영양,청기,기포,산103,0 days 01:35:00,-0.1,NaN,2.7,290.0,50.0

In [29]:
df_climate2['day2'] = df_climate2['day2'].astype('object')

In [413]:
df_fire['day'][46][:13]

'2017-02-16 15'

In [443]:
df_climate.head(3)

  locsi locgungu               day  temp  rain  wind  wind_direction  humidity
0   경기도      동두천  2017-01-01 01:00  -1.4   NaN   0.7           160.0      84.0
1   경기도      동두천  2017-01-01 02:00  -1.5   NaN   0.4             0.0      85.0
2   경기도      동두천  2017-01-01 03:00  -1.8   NaN   0.7           180.0      85.0

In [445]:
df_climate.to_csv('df_climate.csv')

for i in range(len(df_fire)):
    if df_fire['day'][0][0:13] == df_climate['day'][i][0:13]:
        df_fire['temp'] = df_climate['temp']
        pass

In [553]:
df_fire.head(3)

,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time,temp,rain,wind,wind_direction,humidity
0,0.20,2017-01-10 15:40:00,2017-01-10 15:40:00,2017-01-10 18:30:00,기타(직접입력),경기,용인,이동,묵,산65,0 days 02:50:00,,,,,
1,0.05,2017-01-11 14:22:00,2017-01-11 14:22:00,2017-01-11 16:00:00,기타(직접입력),강원,춘천,서,현암,산8,0 days 01:38:00,,,,,
2,0.50,2017-01-11 20:25:00,2017-01-11 20:25:00,2017-01-11 22:00:00,쓰레기소각,경북,영양,청기,기포,산103,0 days 01:35:00,,,,,

In [632]:
df_climate.head(3)

    지점 locgungu              day  temp  rain  wind  wind_direction  humidity
0  경기도      동두천  2020-01-01 1:00  -7.6   0.0   0.1             0.0      59.0
1  경기도      동두천  2020-01-01 2:00  -7.0   0.0   0.2             0.0      57.0
2  경기도      동두천  2020-01-01 3:00  -6.6   0.0   0.3             0.0      58.0

In [504]:
df_climate1['day'][35][:-3]

'2017-01-10 20'

In [464]:
df_climate1 = df_climate1.fillna(0)

In [484]:
df_climate1.reset_index(inplace=True)

In [486]:
df_climate1.drop('index', axis=1, inplace=True)

In [502]:
df_climate1['day'][0][:-3]

'2017-01-09 09'

In [520]:
df_fire['day'][264][:13]

'2017-04-23 13'

In [ ]:
df_climate1['day'][17][:13]

for i in range(len(df_fire_1)):
    for j in range(200,399,1):
        if df_fire_1['day'][i][0:13] == df_climate1['day'][j][0:13]:
            df_fire_1['temp'][i] = df_climate1['temp'][j]
        else:
            pass

In [ ]:
for i in range(len(df_fire)):
    for j in range(len(df_climate)):
        if df_fire['start'][i][0:13] == df_climate['day'][j][0:13]:

In [650]:
df_fire = pd.read_csv('2021fire.csv', encoding='cp949')

In [651]:
df_fire

,Unnamed: 0,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time
0,0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기,남양주,수동,송천,산180-1,0 days 03:56:00
1,1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기,광주,남종,삼성,산53-30,0 days 01:16:00
2,2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기,파주,군내,읍내,산141,0 days 00:49:00
3,3,0.01,2021-01-02 12:59,2021-01-02 12:59,2021-01-02 13:30,입산자실화,경기,고양,덕양,대자,산148-2,0 days 00:31:00
4,4,0.03,2021-01-03 11:38,2021-01-03 11:38,2021-01-03 18:00,기타,경기,포천,신북,삼성당,산8-2,0 days 06:22:00
...,...,...,...,...,...,...,...,...,...,...,...,...
296,296,0.50,2021-12-29 14:20,2021-12-29 14:20,2021-12-29 17:30,기타,경남,남해,창선,가인,산162-1,0 days 03:10:00
297,297,1.50,2021-12-29 02:42,2021-12-29 2:42,2021-12-29 15:45,주택화재비화,강원,춘천,사북,가일,222-1,0 days 13:03:00
298,298,0.10,2021-12-29 05:47,2021-12-29 5:47,2021-12-29 12:00,입산자실화,전남,완도,완도,장좌,산16-89,0 days 06:13:00
299,299,0.40,2021-12-30 11:16,2021-12-30 11:16,2021-12-30 12:30,기타,충북,청주,오송,상봉,산56-1,0 days 01:14:00
300,300,0.50,2021-12-30 14:57,2021-12-30 14:57,2021-12-30 17:30,주택화재비화,경북,봉화,명호,양곡,산54-2,0 days 02:33:00

In [652]:
df_fire.drop('Unnamed: 0', axis=1, inplace=True)

In [653]:
df_fire['temp']=''
df_fire['rain']=''
df_fire['wind']=''
df_fire['wind_direction']=''
df_fire['humidity']=''

In [654]:
df_fire

,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time,temp,rain,wind,wind_direction,humidity
0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기,남양주,수동,송천,산180-1,0 days 03:56:00,,,,,
1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기,광주,남종,삼성,산53-30,0 days 01:16:00,,,,,
2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기,파주,군내,읍내,산141,0 days 00:49:00,,,,,
3,0.01,2021-01-02 12:59,2021-01-02 12:59,2021-01-02 13:30,입산자실화,경기,고양,덕양,대자,산148-2,0 days 00:31:00,,,,,
4,0.03,2021-01-03 11:38,2021-01-03 11:38,2021-01-03 18:00,기타,경기,포천,신북,삼성당,산8-2,0 days 06:22:00,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.50,2021-12-29 14:20,2021-12-29 14:20,2021-12-29 17:30,기타,경남,남해,창선,가인,산162-1,0 days 03:10:00,,,,,
297,1.50,2021-12-29 02:42,2021-12-29 2:42,2021-12-29 15:45,주택화재비화,강원,춘천,사북,가일,222-1,0 days 13:03:00,,,,,
298,0.10,2021-12-29 05:47,2021-12-29 5:47,2021-12-29 12:00,입산자실화,전남,완도,완도,장좌,산16-89,0 days 06:13:00,,,,,
299,0.40,2021-12-30 11:16,2021-12-30 11:16,2021-12-30 12:30,기타,충북,청주,오송,상봉,산56-1,0 days 01:14:00,,,,,
300,0.50,2021-12-30 14:57,2021-12-30 14:57,2021-12-30 17:30,주택화재비화,경북,봉화,명호,양곡,산54-2,0 days 02:33:00,,,,,

In [655]:
for i in range(len(df_fire)):
    for j in range(len(df_climate)):
        if df_fire['day'][i][:13] == df_climate['day'][j][:13]:
            df_fire['temp'][i] = df_climate['temp'][j]
            df_fire['rain'][i] = df_climate['rain'][j]
            df_fire['wind'][i] = df_climate['wind'][j]
            df_fire['wind_direction'][i] = df_climate['wind_direction'][j]
            df_fire['humidity'][i] = df_climate['humidity'][j]
        else:
            pass

C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/2864744482.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['temp'][i] = df_climate['temp'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/2864744482.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['rain'][i] = df_climate['rain'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/2864744482.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['wind'][i] = df_climate['wind'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/2864744482.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['wind_direction'][i] = df_climate['wind_direction'][j]
C:\Users\HJ\AppData\Local\Temp/ipykernel_23060/2864744482.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fire['humidity'][i] = df_climate['humidity'][j]

In [ ]:
for i in range(len(df_fire)):
    for j in range(len(df_climate)):
        if df_fire['day'][i][:13] == df_climate['day'][j][:13]:
            df_fire['temp'][i] = df_climate['temp'][j]
            df_fire['rain'][i] = df_climate['rain'][j]
            df_fire['wind'][i] = df_climate['wind'][j]
            df_fire['wind_direction'][i] = df_climate['wind_direction'][j]
            df_fire['humidity'][i] = df_climate['humidity'][j]
        else:
            pass

In [656]:
df_fire

,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time,temp,rain,wind,wind_direction,humidity
0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기,남양주,수동,송천,산180-1,0 days 03:56:00,0.1,0.0,1.3,250.0,77
1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기,광주,남종,삼성,산53-30,0 days 01:16:00,0.2,0.0,1.7,290.0,89
2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기,파주,군내,읍내,산141,0 days 00:49:00,1.6,0.0,4.5,290.0,40
3,0.01,2021-01-02 12:59,2021-01-02 12:59,2021-01-02 13:30,입산자실화,경기,고양,덕양,대자,산148-2,0 days 00:31:00,1.6,0.0,4.5,290.0,40
4,0.03,2021-01-03 11:38,2021-01-03 11:38,2021-01-03 18:00,기타,경기,포천,신북,삼성당,산8-2,0 days 06:22:00,-0.2,0.0,3.3,290.0,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.50,2021-12-29 14:20,2021-12-29 14:20,2021-12-29 17:30,기타,경남,남해,창선,가인,산162-1,0 days 03:10:00,9.2,0.0,4.1,250.0,64
297,1.50,2021-12-29 02:42,2021-12-29 2:42,2021-12-29 15:45,주택화재비화,강원,춘천,사북,가일,222-1,0 days 13:03:00,,,,,
298,0.10,2021-12-29 05:47,2021-12-29 5:47,2021-12-29 12:00,입산자실화,전남,완도,완도,장좌,산16-89,0 days 06:13:00,,,,,
299,0.40,2021-12-30 11:16,2021-12-30 11:16,2021-12-30 12:30,기타,충북,청주,오송,상봉,산56-1,0 days 01:14:00,1.4,0.0,5.0,290.0,38
300,0.50,2021-12-30 14:57,2021-12-30 14:57,2021-12-30 17:30,주택화재비화,경북,봉화,명호,양곡,산54-2,0 days 02:33:00,3.1,0.0,8.0,290.0,92

In [657]:
df_fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   damagearea      301 non-null    float64
 1   day             301 non-null    object
 2   start           301 non-null    object
 3   end             301 non-null    object
 4   firecause       301 non-null    object
 5   locsi           301 non-null    object
 6   locgungu        301 non-null    object
 7   locmenu         301 non-null    object
 8   locdong         301 non-null    object
 9   locbunji        301 non-null    object
 10  time            301 non-null    object
 11  temp            301 non-null    object
 12  rain            301 non-null    object
 13  wind            301 non-null    object
 14  wind_direction  301 non-null    object
 15  humidity        301 non-null    object
dtypes: float64(1), object(15)
memory usage: 37.8+ KB

In [658]:
df_fire.isnull().sum()

damagearea        0
day               0
start             0
end               0
firecause         0
locsi             0
locgungu          0
locmenu           0
locdong           0
locbunji          0
time              0
temp              0
rain              0
wind              0
wind_direction    0
humidity          0
dtype: int64

In [659]:
df_fire.fillna(0)

,damagearea,day,start,end,firecause,locsi,locgungu,locmenu,locdong,locbunji,time,temp,rain,wind,wind_direction,humidity
0,0.30,2021-01-01 12:34,2021-01-01 12:34,2021-01-01 16:30,입산자실화,경기,남양주,수동,송천,산180-1,0 days 03:56:00,0.1,0.0,1.3,250.0,77
1,0.07,2021-01-01 17:54,2021-01-01 17:54,2021-01-01 19:10,주택화재비화,경기,광주,남종,삼성,산53-30,0 days 01:16:00,0.2,0.0,1.7,290.0,89
2,0.03,2021-01-02 12:45,2021-01-02 12:45,2021-01-02 13:34,기타,경기,파주,군내,읍내,산141,0 days 00:49:00,1.6,0.0,4.5,290.0,40
3,0.01,2021-01-02 12:59,2021-01-02 12:59,2021-01-02 13:30,입산자실화,경기,고양,덕양,대자,산148-2,0 days 00:31:00,1.6,0.0,4.5,290.0,40
4,0.03,2021-01-03 11:38,2021-01-03 11:38,2021-01-03 18:00,기타,경기,포천,신북,삼성당,산8-2,0 days 06:22:00,-0.2,0.0,3.3,290.0,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,0.50,2021-12-29 14:20,2021-12-29 14:20,2021-12-29 17:30,기타,경남,남해,창선,가인,산162-1,0 days 03:10:00,9.2,0.0,4.1,250.0,64
297,1.50,2021-12-29 02:42,2021-12-29 2:42,2021-12-29 15:45,주택화재비화,강원,춘천,사북,가일,222-1,0 days 13:03:00,,,,,
298,0.10,2021-12-29 05:47,2021-12-29 5:47,2021-12-29 12:00,입산자실화,전남,완도,완도,장좌,산16-89,0 days 06:13:00,,,,,
299,0.40,2021-12-30 11:16,2021-12-30 11:16,2021-12-30 12:30,기타,충북,청주,오송,상봉,산56-1,0 days 01:14:00,1.4,0.0,5.0,290.0,38
300,0.50,2021-12-30 14:57,2021-12-30 14:57,2021-12-30 17:30,주택화재비화,경북,봉화,명호,양곡,산54-2,0 days 02:33:00,3.1,0.0,8.0,290.0,92

In [660]:
df_fire.to_csv('2021_fire_final.csv')

# df2['반'] = df2['이름'].map(lambda x : df1.query("이름 == '" + x + "' ").반.iloc[0] 
#                          if len(df1.query("이름 == '" + x + "' ")) > 0 else '미정') print(df2)

df_fire_1['temp2'] = df_fire_1['day'][0][:-6].map(lambda x : df_climate1.query(df_fire_1['day'][0][:-6]).temp2.iloc[0] if len(df_fire_1['day'][0][:-6]) > 0)